.home {
  width: 90%;
  position: relative;
  left: 5%;
  color: var(--c-yellow);

  h1 {
    margin: 2rem 0;
    font-size: 1.5rem;

    span {
      font-size: 3.5rem;
      background-color: transparent;
      color: var(--c-background);
    }
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;

    .ball {
      width: 20vw;
      position: absolute;
    }

    .pokes {
      width: 90%;
    }
  }

  form {
    text-align: center;

    input {
      width: 70%;
      margin: 1.5rem 0;
    }
  }
}

@media screen and (min-width: 950px) {
  .home {
    &__banner {
      width: 50%;
      display: inline-flex;

      .ball {
        width: 12vw;
        position: absolute;
      }
    }

    form {
      width: 50%;
      display: inline-block;
      position: absolute;
      bottom: calc(50% - 73.5px);
    }
  }
}

@media screen and (min-width: 1440px) {
  .home {
    max-width: 1440px;
    left: calc(50% - 720px);

    &__banner {
      width: 50%;
      display: inline-flex;

      .ball {
        width: 13rem;
        position: absolute;
      }
    }

    form {
      width: 50%;
      display: inline-block;
      position: absolute;
      bottom: calc(50% - 73.5px);
    }
  }
}
